<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="~{::title}">Quan li tac gia</title>
</head>
<body>
<h2 layout:fragment="page-title">
    <i class="fas fa-user-edit"></i>Danh sach tac gia

</h2>

<div layout:fragment="content">
    <div>
        <div>
            <a th:href="@{/authors/new}" class="btn btn-primary">
                Them moi tac gia
            </a>
        </div>
        <div>
            <form th:action="@{/authors/search}" method="">

            </form>
        </div>
    </div>

</div>

</body>
</html>